{% extends 'main/base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
<div>
    <h1>Книжный интернет-магазин BookStore</h1>
    <p></p>
    <h4>Удобный сервис для поиска и заказа Ваших любимых книг</h4>
    <p>Команда студентов группы ПРО-423 поставила своей целью разработать сервис, который предоставил бы любителям
    литературы каталог с большим выбором книг, поиск среди них по жанрам, авторам, или названиям, информацию о книгах,
        а также возможность оформить заказ на покупку книги.</p>
    <a>Воспользоваться результатами нашей работы Вы можете, перейдя к </a>
    <a href="{% url 'home'%}">каталогу доступных книг.</a>
    <p></p>
    <a>Ознакомиться с работой сервиса нельзя.</a>
</div>
{% endblock %}
