{% extends 'main/base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block search %}
    <form method="post" class="d-flex d-float-left" role="search">
        {% csrf_token %}
        <input class="form-control me-2" type="text" placeholder="Жанр" aria-label="search" name="genre">
        <input class="form-control me-2" type="text" placeholder="Автор" aria-label="search" name="author">
        <input class="form-control me-2" type="text" placeholder="Название" aria-label="search" name="title">
        <button class="btn btn-outline-success" type="submit">Поиск</button>
    </form>
{% endblock %}

{% block content %}
{% endblock %}
